.title {
  font-weight: bold;
  margin-top: 10px;
  }
.subheading {
  margin-bottom: 20px;
  }
#myForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#myForm input[type="text"],
#myForm input[type="number"],
#myForm select,
#myForm textarea {
  flex: 1 0 30%; 
  margin: 10px;
}

#myForm input[type="submit"] {
  width: 100%;
  margin: 10px 0;
}
